@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-bg {
    background-image: url("./assets/bg_home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
